<div class="page-header header-filter clear-filter header-small" data-parallax="true"
  style="background-image: url('assets/img/bg3.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1 class="title">RedBard</h1>
          <h3 class="title text-center">Digital Media Solutions</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Full header coloured</h4>
              <p class="category">Category subtitle</p>
            </div>
            <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you
              can enjoy the main night life in Barcelona...
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Full header coloured</h4>
              <p class="category">Category subtitle</p>
            </div>
            <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you
              can enjoy the main night life in Barcelona...
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Full header coloured</h4>
              <p class="category">Category subtitle</p>
            </div>
            <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you
              can enjoy the main night life in Barcelona...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>